.chatBody {
    flex: 1;
    overflow: scroll;
    padding: 10px 0 0 0;
    /* background-color: white; */
    background-color: rgb(245, 245, 245);
}

.chatBody::-webkit-scrollbar {
    display: none;
}