a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}



.tabs .right {
    align-items: center;
    display: flex;
}

.tabs .right > * {
    margin: 0 5px;
    align-items: center;
    display: flex;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.tabs .right > *:hover {
    background-color: rgb(230, 230, 230);
}

.tabs .right > *:active {
    background-color: rgb(220, 220, 220);
}

.tabs .right > button {
    border-radius: 2px;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    color: rgb(70, 70, 70);
    outline: none;
}


.tabs .left {
    align-items: center;
    display: flex;
}

.tabs > .left > * {
    padding: 0 11px;
    border-radius: 5px;
}

.tabs > .left > *:hover {
    background-color: rgb(240, 240, 240);
}

.tabs .left > *:active {
    background-color: rgb(220, 220, 220);
}

.tabs > .left h3 {
    font-size: .9rem;
    display: inline-block;
}