.userContent {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 20px;
    width: 75vw;
    margin: 20px auto;
}


@media(max-width: 768px) {
    .userContent {
        grid-template-columns: 1fr;
        margin: 0;
        width: 100vw;
        grid-row-gap: 20px;
    }
}