.authenticate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: var(--bodyHeight);
    text-align: center;   
}

.authenticate > .left {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(66,103,238);
}

.authenticate > .left > p {
    text-align: left;
    width: fit-content;
    margin: auto;
    font-size: 4rem;
}

/* .authenticate > .left > p > span {
    font-size: 3.5rem;
} */


.authenticate > .right {
    padding: 0 20px;
}

.authenticate > .right > .box {
    width: 75%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px 0;
    box-shadow: 0 0 20px -15px black;
}

.authenticate > .right > .box > * {
    width: 70%;
    margin: 1rem 0;
}

.authenticate > .right > .box > input {
    font-size: 1.02rem;
    padding: .9rem 20px;
    outline: none;
    border-radius: 5px;
}

.authenticate > .right > .box > input[type='text'], .authenticate > .right > .box > input[type='password'] {
    border: solid 1px rgb(170, 170, 170);
}

.authenticate > .right > .box > input[type='submit'] {
    border: none;
    cursor: pointer;
    color: white;
}


.authenticate > .right > .box > input.primaryButton {
    background-color: rgb(24, 119, 242)
}

.authenticate > .right > .box > input.secondaryButton {
    background-color: rgb(66, 183, 42);
}

.authenticate > .right > .box hr {
    width: 80%;   
    border-color: rgb(235, 235, 235);
}


@media(max-width: 768px) {
    .authenticate {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2.5fr;
    }

    .authenticate > .right > .box {
        width: 90%;
    }
}