.loading {
    height: var(--bodyHeight);
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes rotate {
    from {
        transform: rotate(0deg); 
    }
    
    to {
        transform: rotate(360deg);
    }
}

.loading > img {
    width: 8rem;
    animation: rotate 2s infinite ease-in-out;
}