.story {
    /* height: 160px; */
    /* width: 95px; */
    height: 10rem;
    width: 6.5rem;
    margin: 0 7px;
    border-radius: 5px;
    position: relative;
    user-select: none;
    transition: transform .25s ease-in-out;
    cursor: pointer;
}

.story > h4 {
    font-size: .8rem;
    color: white;
    position: absolute;
    bottom: 0;
    left: 15px;
}

.story:hover {
    transform: scale(1.05);
}


@media(max-width: 768px) {
    .sotry {

    }
}